* {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

body {
    width: auto;
    background: linear-gradient(#3BB2BF, #9CD9D9, #F2CD5E, #F2A74B, #D98977);
}

header{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    place-items: center;
}

.logo {
    width: 30%;
    position: relative;
    padding: 50px 100px;
    float: center;
}

.titulo {
    width: 70%;
    position: relative;
    padding: 50px;
    float: center;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}

.caja1 {
    width: 50%;
    height: 100%;
    padding: 25px;
}

.caja2 {
    width: 50%;
    height: 100%;
    padding: 25px;
}

.MensajeAEncriptar {
    margin-top: 5px;
}

.MensajeEncriptado {
    position: relative;
    margin-top: 5px;
    background-image: url(Imagenes/Muñeco.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 300px;
}

.botones {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    flex-direction: row;
    margin-top: 10px;
}

.encriptar {
    position: relative;
    background-color: #D98977;
    border: none;
    font-size: 28px;
    font-weight: bold;
    color:  black;
    padding: 20px;
    width: 100%;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}

.encriptar:after {
    content: "";
    background: #3BB2BF;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.encriptar:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.desencriptar {
    position: relative;
    background-color: #3BB2BF;
    border: none;
    font-size: 28px;
    font-weight: bold;
    color: black;
    padding: 20px;
    width: 100%;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}

.desencriptar:after {
    content: "";
    background: #D98977;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.desencriptar:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.CopiarMensaje {
    position: relative;
    background-color: #F2CD5E;
    border: none;
    font-size: 28px;
    font-weight: bold;
    color: black;
    padding: 20px;
    width: 100%;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.CopiarMensaje:after {
    content: "";
    background: #3BB2BF;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-top: -100%;
    opacity: 0;
    transition: all 0.8s
}

.CopiarMensaje:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.Informacion {
    font-size: 25px;
    font-weight: bold;
}

footer {
    width: 100%;
    height: 100px;
    background: linear-gradient( #D98977);
}

@media screen and (max-width:480px) {

    header{
        width: auto;
        display: inline-block;
        place-items: center;
        align-items: center;
    }

    .logo{
        width: auto;
        position: relative;
        align-items: center;
    }

    .titulo {
        width: auto;
        position: relative;
        text-align: center;
    }

    main {
        width: auto;
        display: inline-block;
        place-items: center;
        align-items: center;
    }

    .caja1 {
        width: auto;
        height: auto;
        display: inline-block;
        place-items: center;
        align-items: center;
        position: relative;
    }
    
    .caja2 {
        width: auto;
        height: auto;
        position: relative;
    }

    .Informacion {
        font-size: 20px;
        font-weight: bold;
    }

    footer {
        width: auto;
        height: auto;
        background: linear-gradient( #D98977);
    }
    
}
